# IMPORTANT: YOU MUST REGENERATE THE HEXCLAVE_SERVER_SECRET VALUE BELOW

NEXT_PUBLIC_HEXCLAVE_API_URL=http://localhost:8102
NEXT_PUBLIC_HEXCLAVE_DASHBOARD_URL=http://localhost:8101

HEXCLAVE_DATABASE_CONNECTION_STRING=postgres://postgres:password@host.docker.internal:8128/stackframe

HEXCLAVE_SERVER_SECRET=23-wuNpik0gIW4mruTz25rbIvhuuvZFrLOLtL7J4tyo

HEXCLAVE_SEED_INTERNAL_PROJECT_ALLOW_LOCALHOST=true
HEXCLAVE_SEED_INTERNAL_PROJECT_SIGN_UP_ENABLED=true

HEXCLAVE_RUN_MIGRATIONS=true
HEXCLAVE_RUN_SEED_SCRIPT=true

HEXCLAVE_FREESTYLE_API_KEY=

HEXCLAVE_CLICKHOUSE_URL=http://host.docker.internal:8133
HEXCLAVE_CLICKHOUSE_ADMIN_PASSWORD=password
HEXCLAVE_CLICKHOUSE_EXTERNAL_PASSWORD=password
