{
  "openapi": "3.1.0",
  "info": {
    "title": "Stack REST API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.stack-auth.com/api/v1",
      "description": "Stack REST API"
    }
  ],
  "paths": {
    "/auth/anonymous/sign-up": {
      "post": {
        "summary": "Sign up anonymously",
        "description": "Create a new anonymous account with no email",
        "parameters": [],
        "tags": [
          "Anonymous"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/auth/anonymous/sign-up",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "access_token",
                    "refresh_token",
                    "user_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/team-api-keys": {
      "get": {
        "summary": "List team API keys",
        "description": "List all team API keys for the project with their metadata and status",
        "parameters": [
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/team-api-keys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "expires_at_millis": {
                            "type": "number"
                          },
                          "manually_revoked_at_millis": {
                            "type": "number"
                          },
                          "created_at_millis": {
                            "type": "number"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "last_four": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "last_four"
                            ]
                          },
                          "type": {
                            "type": "string"
                          },
                          "team_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "description",
                          "created_at_millis",
                          "is_public",
                          "value",
                          "type",
                          "team_id"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                          "description": "The cursor to fetch the next page of results. null if there is no next page."
                        }
                      },
                      "required": []
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create team API key",
        "description": "Create a new API key for a user or team",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "expires_at_millis": {
                    "type": "number"
                  },
                  "is_public": {
                    "type": "boolean"
                  },
                  "team_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "description",
                  "team_id"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/team-api-keys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "type": {
                      "type": "string"
                    },
                    "team_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "value",
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "type",
                    "team_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user-api-keys": {
      "get": {
        "summary": "List user API keys",
        "description": "List all user API keys for the project with their metadata and status",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/user-api-keys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "expires_at_millis": {
                            "type": "number"
                          },
                          "manually_revoked_at_millis": {
                            "type": "number"
                          },
                          "created_at_millis": {
                            "type": "number"
                          },
                          "is_public": {
                            "type": "boolean"
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "last_four": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "last_four"
                            ]
                          },
                          "type": {
                            "type": "string"
                          },
                          "user_id": {
                            "type": "string",
                            "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                            "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                          }
                        },
                        "required": [
                          "id",
                          "description",
                          "created_at_millis",
                          "is_public",
                          "value",
                          "type",
                          "user_id"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                          "description": "The cursor to fetch the next page of results. null if there is no next page."
                        }
                      },
                      "required": []
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create user API key",
        "description": "Create a new API key for a user or team",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "expires_at_millis": {
                    "type": "number"
                  },
                  "is_public": {
                    "type": "boolean"
                  },
                  "user_id": {
                    "type": "string",
                    "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                    "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                  }
                },
                "required": [
                  "description",
                  "user_id"
                ],
                "example": {
                  "user_id": "3241a285-8329-4d69-8f3d-316e08cf140c"
                }
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/user-api-keys",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "type": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                    }
                  },
                  "required": [
                    "value",
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "type",
                    "user_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/team-api-keys/{api_key_id}": {
      "get": {
        "summary": "Get team API key details",
        "description": "Get details of a specific team API key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/team-api-keys/{api_key_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "last_four": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "last_four"
                      ]
                    },
                    "type": {
                      "type": "string"
                    },
                    "team_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "value",
                    "type",
                    "team_id"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update team API key",
        "description": "Update an team API key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "revoked": {
                    "type": "boolean"
                  }
                },
                "example": {}
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/team-api-keys/{api_key_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "last_four": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "last_four"
                      ]
                    },
                    "type": {
                      "type": "string"
                    },
                    "team_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "value",
                    "type",
                    "team_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user-api-keys/check": {
      "post": {
        "summary": "Check user API key validity",
        "description": "Validate a user API key",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "api_key"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/user-api-keys/check",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "last_four": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "last_four"
                      ]
                    },
                    "type": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                    }
                  },
                  "required": [
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "value",
                    "type",
                    "user_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/team-api-keys/check": {
      "post": {
        "summary": "Check team API key validity",
        "description": "Validate a team API key",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "api_key"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/team-api-keys/check",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "last_four": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "last_four"
                      ]
                    },
                    "type": {
                      "type": "string"
                    },
                    "team_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "value",
                    "type",
                    "team_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/user-api-keys/{api_key_id}": {
      "get": {
        "summary": "Get user API key details",
        "description": "Get details of a specific user API key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/user-api-keys/{api_key_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "last_four": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "last_four"
                      ]
                    },
                    "type": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                    }
                  },
                  "required": [
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "value",
                    "type",
                    "user_id"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update user API key",
        "description": "Update an user API key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "revoked": {
                    "type": "boolean"
                  }
                },
                "example": {}
              }
            }
          }
        },
        "tags": [
          "API Keys"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/user-api-keys/{api_key_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "expires_at_millis": {
                      "type": "number"
                    },
                    "manually_revoked_at_millis": {
                      "type": "number"
                    },
                    "created_at_millis": {
                      "type": "number"
                    },
                    "is_public": {
                      "type": "boolean"
                    },
                    "value": {
                      "type": "object",
                      "properties": {
                        "last_four": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "last_four"
                      ]
                    },
                    "type": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                    }
                  },
                  "required": [
                    "id",
                    "description",
                    "created_at_millis",
                    "is_public",
                    "value",
                    "type",
                    "user_id"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/cli": {
      "post": {
        "summary": "Initiate CLI authentication",
        "description": "Create a new CLI authentication session and return polling and login codes",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expires_in_millis": {
                    "type": "number",
                    "default": 7200000
                  }
                },
                "example": {}
              }
            }
          }
        },
        "tags": [
          "CLI Authentication"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/auth/cli",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "polling_code": {
                      "type": "string"
                    },
                    "login_code": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "polling_code",
                    "login_code",
                    "expires_at"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/cli/poll": {
      "post": {
        "summary": "Poll CLI authentication status",
        "description": "Check the status of a CLI authentication session using the polling code",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "polling_code": {
                    "type": "string"
                  }
                },
                "required": [
                  "polling_code"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "CLI Authentication"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/auth/cli/poll",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/auth/cli/complete": {
      "post": {
        "summary": "Complete CLI authentication",
        "description": "Set the refresh token for a CLI authentication session using the login code",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "login_code": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "login_code",
                  "refresh_token"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "CLI Authentication"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/auth/cli/complete",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always equal to true.",
                      "example": true
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contact-channels": {
      "get": {
        "summary": "List contact channels",
        "description": "Retrieves a list of all contact channels for a user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": false
          },
          {
            "name": "contact_channel_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string",
                            "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                            "description": "The unique identifier of the user"
                          },
                          "id": {
                            "type": "string",
                            "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                            "description": "The unique identifier of the contact channel"
                          },
                          "value": {
                            "type": "string",
                            "example": "johndoe@example.com",
                            "description": "The value of the contact channel. For email, this should be a valid email address."
                          },
                          "type": {
                            "type": "string",
                            "example": "email",
                            "description": "The type of the contact channel. Currently only \"email\" is supported."
                          },
                          "used_for_auth": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the contact channel is used for authentication. If this is set to `true`, the user will be able to sign in with the contact channel with password or OTP."
                          },
                          "is_verified": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the contact channel has been verified. If this is set to `true`, the contact channel has been verified to belong to the user."
                          },
                          "is_primary": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the contact channel is the primary contact channel. If this is set to `true`, it will be used for authentication and notifications by default."
                          }
                        },
                        "required": [
                          "user_id",
                          "id",
                          "value",
                          "type",
                          "used_for_auth",
                          "is_verified",
                          "is_primary"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                          "description": "The cursor to fetch the next page of results. null if there is no next page."
                        }
                      },
                      "required": []
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a contact channel",
        "description": "Add a new contact channel for a user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": false
          },
          {
            "name": "contact_channel_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_verified": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the contact channel has been verified. If this is set to `true`, the contact channel has been verified to belong to the user."
                  },
                  "user_id": {
                    "type": "string",
                    "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                    "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                  },
                  "value": {
                    "type": "string",
                    "example": "johndoe@example.com",
                    "description": "The value of the contact channel. For email, this should be a valid email address."
                  },
                  "type": {
                    "type": "string",
                    "example": "email",
                    "description": "The type of the contact channel. Currently only \"email\" is supported."
                  },
                  "used_for_auth": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the contact channel is used for authentication. If this is set to `true`, the user will be able to sign in with the contact channel with password or OTP."
                  },
                  "is_primary": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the contact channel is the primary contact channel. If this is set to `true`, it will be used for authentication and notifications by default."
                  }
                },
                "required": [
                  "user_id",
                  "value",
                  "type",
                  "used_for_auth"
                ],
                "example": {
                  "is_verified": true,
                  "user_id": "3241a285-8329-4d69-8f3d-316e08cf140c",
                  "value": "johndoe@example.com",
                  "type": "email",
                  "used_for_auth": true,
                  "is_primary": true
                }
              }
            }
          }
        },
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels",
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The unique identifier of the user"
                    },
                    "id": {
                      "type": "string",
                      "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                      "description": "The unique identifier of the contact channel"
                    },
                    "value": {
                      "type": "string",
                      "example": "johndoe@example.com",
                      "description": "The value of the contact channel. For email, this should be a valid email address."
                    },
                    "type": {
                      "type": "string",
                      "example": "email",
                      "description": "The type of the contact channel. Currently only \"email\" is supported."
                    },
                    "used_for_auth": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel is used for authentication. If this is set to `true`, the user will be able to sign in with the contact channel with password or OTP."
                    },
                    "is_verified": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel has been verified. If this is set to `true`, the contact channel has been verified to belong to the user."
                    },
                    "is_primary": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel is the primary contact channel. If this is set to `true`, it will be used for authentication and notifications by default."
                    }
                  },
                  "required": [
                    "user_id",
                    "id",
                    "value",
                    "type",
                    "used_for_auth",
                    "is_verified",
                    "is_primary"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contact-channels/verify": {
      "post": {
        "summary": "Verify an email",
        "description": "Verify an email address of a user",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "u3h6gn4w24pqc8ya679inrhjwh1rybth6a7thurqhnpf2",
                    "description": "A 45 character code"
                  }
                },
                "required": [
                  "code"
                ],
                "example": {
                  "code": "u3h6gn4w24pqc8ya679inrhjwh1rybth6a7thurqhnpf2"
                }
              }
            }
          }
        },
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels/verify",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always equal to true.",
                      "example": true
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contact-channels/verify/check-code": {
      "post": {
        "summary": "Check email verification code",
        "description": "Check if an email verification code is valid without using it",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "example": "u3h6gn4w24pqc8ya679inrhjwh1rybth6a7thurqhnpf2",
                    "description": "A 45 character code"
                  }
                },
                "required": [
                  "code"
                ],
                "example": {
                  "code": "u3h6gn4w24pqc8ya679inrhjwh1rybth6a7thurqhnpf2"
                }
              }
            }
          }
        },
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels/verify/check-code",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_code_valid": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "is_code_valid"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contact-channels/{user_id}/{contact_channel_id}": {
      "get": {
        "summary": "Get a contact channel",
        "description": "Retrieves a specific contact channel by the user ID and the contact channel ID.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": false
          },
          {
            "name": "contact_channel_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "me",
              "description": "the user that the contact channel belongs to"
            },
            "description": "the user that the contact channel belongs to",
            "required": true
          },
          {
            "name": "contact_channel_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
              "description": "the target contact channel"
            },
            "description": "the target contact channel",
            "required": true
          }
        ],
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels/{user_id}/{contact_channel_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The unique identifier of the user"
                    },
                    "id": {
                      "type": "string",
                      "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                      "description": "The unique identifier of the contact channel"
                    },
                    "value": {
                      "type": "string",
                      "example": "johndoe@example.com",
                      "description": "The value of the contact channel. For email, this should be a valid email address."
                    },
                    "type": {
                      "type": "string",
                      "example": "email",
                      "description": "The type of the contact channel. Currently only \"email\" is supported."
                    },
                    "used_for_auth": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel is used for authentication. If this is set to `true`, the user will be able to sign in with the contact channel with password or OTP."
                    },
                    "is_verified": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel has been verified. If this is set to `true`, the contact channel has been verified to belong to the user."
                    },
                    "is_primary": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel is the primary contact channel. If this is set to `true`, it will be used for authentication and notifications by default."
                    }
                  },
                  "required": [
                    "user_id",
                    "id",
                    "value",
                    "type",
                    "used_for_auth",
                    "is_verified",
                    "is_primary"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a contact channel",
        "description": "Removes a contact channel for a given user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": false
          },
          {
            "name": "contact_channel_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "me",
              "description": "the user that the contact channel belongs to"
            },
            "description": "the user that the contact channel belongs to",
            "required": true
          },
          {
            "name": "contact_channel_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
              "description": "the target contact channel"
            },
            "description": "the target contact channel",
            "required": true
          }
        ],
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels/{user_id}/{contact_channel_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always equal to true.",
                      "example": true
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a contact channel",
        "description": "Updates an existing contact channel. Only the values provided will be updated.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": false
          },
          {
            "name": "contact_channel_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "me",
              "description": "the user that the contact channel belongs to"
            },
            "description": "the user that the contact channel belongs to",
            "required": true
          },
          {
            "name": "contact_channel_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
              "description": "the target contact channel"
            },
            "description": "the target contact channel",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "is_verified": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the contact channel has been verified. If this is set to `true`, the contact channel has been verified to belong to the user."
                  },
                  "value": {
                    "type": "string",
                    "example": "johndoe@example.com",
                    "description": "The value of the contact channel. For email, this should be a valid email address."
                  },
                  "type": {
                    "type": "string",
                    "example": "email",
                    "description": "The type of the contact channel. Currently only \"email\" is supported."
                  },
                  "used_for_auth": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the contact channel is used for authentication. If this is set to `true`, the user will be able to sign in with the contact channel with password or OTP."
                  },
                  "is_primary": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the contact channel is the primary contact channel. If this is set to `true`, it will be used for authentication and notifications by default."
                  }
                },
                "example": {
                  "is_verified": true,
                  "value": "johndoe@example.com",
                  "type": "email",
                  "used_for_auth": true,
                  "is_primary": true
                }
              }
            }
          }
        },
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels/{user_id}/{contact_channel_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                      "description": "The unique identifier of the user"
                    },
                    "id": {
                      "type": "string",
                      "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                      "description": "The unique identifier of the contact channel"
                    },
                    "value": {
                      "type": "string",
                      "example": "johndoe@example.com",
                      "description": "The value of the contact channel. For email, this should be a valid email address."
                    },
                    "type": {
                      "type": "string",
                      "example": "email",
                      "description": "The type of the contact channel. Currently only \"email\" is supported."
                    },
                    "used_for_auth": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel is used for authentication. If this is set to `true`, the user will be able to sign in with the contact channel with password or OTP."
                    },
                    "is_verified": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel has been verified. If this is set to `true`, the contact channel has been verified to belong to the user."
                    },
                    "is_primary": {
                      "type": "boolean",
                      "example": true,
                      "description": "Whether the contact channel is the primary contact channel. If this is set to `true`, it will be used for authentication and notifications by default."
                    }
                  },
                  "required": [
                    "user_id",
                    "id",
                    "value",
                    "type",
                    "used_for_auth",
                    "is_verified",
                    "is_primary"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/contact-channels/{user_id}/{contact_channel_id}/send-verification-code": {
      "post": {
        "summary": "Send contact channel verification code",
        "description": "Send a code to the user's contact channel for verifying the contact channel.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "me",
              "description": "The user to send the verification code to."
            },
            "description": "The user to send the verification code to.",
            "required": true
          },
          {
            "name": "contact_channel_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
              "description": "The contact channel to send the verification code to."
            },
            "description": "The contact channel to send the verification code to.",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callback_url": {
                    "type": "string",
                    "example": "https://example.com/handler/email-verification",
                    "description": "The base callback URL to construct a verification link for the verification e-mail. A query parameter `code` with the verification code will be appended to it. The page should then make a request to the `/contact-channels/verify` endpoint."
                  }
                },
                "required": [
                  "callback_url"
                ],
                "example": {
                  "callback_url": "https://example.com/handler/email-verification"
                }
              }
            }
          }
        },
        "tags": [
          "Contact Channels"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/contact-channels/{user_id}/{contact_channel_id}/send-verification-code",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always equal to true.",
                      "example": true
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/data-vault/stores/{id}/get": {
      "post": {
        "summary": "Retrieve encrypted value from data vault",
        "description": "Retrieves and decrypts a value from the data vault using a hashed key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashed_key": {
                    "type": "string"
                  }
                },
                "required": [
                  "hashed_key"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "DataVault"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/data-vault/stores/{id}/get",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "encrypted_value": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "encrypted_value"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/data-vault/stores/{id}/set": {
      "post": {
        "summary": "Store encrypted value in data vault",
        "description": "Stores a hashed key and encrypted value in the data vault for a specific store",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashed_key": {
                    "type": "string"
                  },
                  "encrypted_value": {
                    "type": "string"
                  }
                },
                "required": [
                  "hashed_key",
                  "encrypted_value"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "DataVault"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/data-vault/stores/{id}/set",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Always equal to true.",
                      "example": true
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/emails/send-email": {
      "post": {
        "summary": "Send email",
        "description": "Send an email to a list of users. The content field should contain either {html} for HTML emails, {template_id, variables} for template-based emails, or {draft_id} for a draft email.",
        "parameters": [],
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/send-email",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "user_id"
                        ]
                      }
                    }
                  },
                  "required": [
                    "results"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/emails/outbox": {
      "get": {
        "summary": "List email outbox",
        "description": "Lists all emails in the outbox with optional filtering by status or simple_status.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "simple_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The maximum number of items to return. Maximum allowed is 100"
            },
            "description": "The maximum number of items to return. Maximum allowed is 100",
            "required": false
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The cursor to start the result set from (email ID)"
            },
            "description": "The cursor to start the result set from (email ID)",
            "required": false
          }
        ],
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/outbox",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                          "description": "The cursor to fetch the next page of results. null if there is no next page."
                        }
                      },
                      "required": []
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/emails/delivery-info": {
      "get": {
        "summary": "Get email delivery info",
        "description": "Returns delivery statistics and capacity information for the current tenancy.",
        "parameters": [],
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/delivery-info",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "stats": {
                      "type": "object",
                      "properties": {
                        "hour": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "number"
                            },
                            "bounced": {
                              "type": "number"
                            },
                            "marked_as_spam": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "sent",
                            "bounced",
                            "marked_as_spam"
                          ]
                        },
                        "day": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "number"
                            },
                            "bounced": {
                              "type": "number"
                            },
                            "marked_as_spam": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "sent",
                            "bounced",
                            "marked_as_spam"
                          ]
                        },
                        "week": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "number"
                            },
                            "bounced": {
                              "type": "number"
                            },
                            "marked_as_spam": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "sent",
                            "bounced",
                            "marked_as_spam"
                          ]
                        },
                        "month": {
                          "type": "object",
                          "properties": {
                            "sent": {
                              "type": "number"
                            },
                            "bounced": {
                              "type": "number"
                            },
                            "marked_as_spam": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "sent",
                            "bounced",
                            "marked_as_spam"
                          ]
                        }
                      },
                      "required": [
                        "hour",
                        "day",
                        "week",
                        "month"
                      ]
                    },
                    "capacity": {
                      "type": "object",
                      "properties": {
                        "rate_per_second": {
                          "type": "number"
                        },
                        "penalty_factor": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "rate_per_second",
                        "penalty_factor"
                      ]
                    }
                  },
                  "required": [
                    "stats",
                    "capacity"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/emails/notification-preference/{user_id}": {
      "get": {
        "summary": "List notification preferences",
        "description": "Get all notification preferences for a user, showing which notification categories are enabled or disabled.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": false
          }
        ],
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/notification-preference/{user_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "notification_category_id": {
                            "type": "string"
                          },
                          "notification_category_name": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "can_disable": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "notification_category_id",
                          "notification_category_name",
                          "enabled",
                          "can_disable"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                          "description": "The cursor to fetch the next page of results. null if there is no next page."
                        }
                      },
                      "required": []
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/emails/outbox/{id}": {
      "get": {
        "summary": "Get email outbox entry",
        "description": "Gets a single email from the outbox by ID.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "simple_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/outbox/{id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update email outbox entry",
        "description": "Updates an email in the outbox. Can be used to edit email content, pause/resume, or cancel emails. Only emails in editable states (`paused`, `preparing`, `rendering`, `render-error`, `scheduled`, `queued`, `server-error`) can be modified.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "simple_status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tsx_source": {
                    "type": "string"
                  },
                  "theme_id": {
                    "type": "string"
                  },
                  "to": {
                    "type": "object"
                  },
                  "variables": {
                    "type": "object",
                    "properties": {},
                    "required": []
                  },
                  "skip_deliverability_check": {
                    "type": "boolean"
                  },
                  "scheduled_at_millis": {
                    "type": "number"
                  },
                  "is_paused": {
                    "type": "boolean"
                  },
                  "cancel": {
                    "type": "boolean"
                  }
                },
                "example": {}
              }
            }
          }
        },
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/outbox/{id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/emails/notification-preference/{user_id}/{notification_category_id}": {
      "patch": {
        "summary": "Update notification preference",
        "description": "Enable or disable a specific notification category for a user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
              "description": "The ID of the user, or the special value `me` for the currently authenticated user"
            },
            "description": "The ID of the user, or the special value `me` for the currently authenticated user",
            "required": true
          },
          {
            "name": "notification_category_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "enabled"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "Emails"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/emails/notification-preference/{user_id}/{notification_category_id}",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "notification_category_id": {
                      "type": "string"
                    },
                    "notification_category_name": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "can_disable": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "notification_category_id",
                    "notification_category_name",
                    "enabled",
                    "can_disable"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/feature-requests": {
      "get": {
        "summary": "Get feature requests",
        "description": "Fetch all feature requests with upvote status for the current user",
        "parameters": [],
        "tags": [
          "Internal"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/internal/feature-requests",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "posts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "upvotes": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "postStatus": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name",
                              "color"
                            ]
                          },
                          "userHasUpvoted": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "upvotes",
                          "date",
                          "userHasUpvoted"
                        ]
                      }
                    }
                  },
                  "required": [
                    "posts"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create feature request",
        "description": "Create a new feature request",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "commentsAllowed": {
                    "type": "boolean"
                  },
                  "customInputValues": {
                    "type": "object",
                    "properties": {},
                    "required": []
                  }
                },
                "required": [
                  "title"
                ],
                "example": {}
              }
            }
          }
        },
        "tags": [
          "Internal"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/internal/feature-requests",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/internal/feature-requests/{featureRequestId}/upvote": {
      "post": {
        "summary": "Toggle upvote on feature request",
        "description": "Toggle upvote on a feature request for the current user",
        "parameters": [
          {
            "name": "featureRequestId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "example": {}
              }
            }
          }
        },
        "tags": [
          "Internal"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/internal/feature-requests/{featureRequestId}/upvote",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "upvoted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/oauth-providers": {
      "get": {
        "summary": "List OAuth providers",
        "description": "Retrieves a list of all OAuth providers for a user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "tags": [
          "Oauth"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/oauth-providers",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": {
                            "type": "string",
                            "example": "google-account-id-12345",
                            "description": "Account ID of the OAuth provider. This uniquely identifies the account on the provider side."
                          },
                          "user_id": {
                            "type": "string",
                            "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                            "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                          },
                          "id": {
                            "type": "string",
                            "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                            "description": "The unique identifier of the OAuth provider"
                          },
                          "email": {
                            "type": "string",
                            "example": "test@gmail.com",
                            "description": "Email of the OAuth provider. This is used to display and identify the OAuth provider in the UI."
                          },
                          "provider_config_id": {
                            "type": "string",
                            "example": "google",
                            "description": "Provider config ID of the OAuth provider. This uniquely identifies the provider config on config.json file"
                          },
                          "type": {
                            "type": "string",
                            "example": "google",
                            "description": "OAuth provider type, one of `google`, `github`, `microsoft`, `spotify`, `facebook`, `discord`, `gitlab`, `bitbucket`, `linkedin`, `apple`, `x`, `twitch`"
                          },
                          "allow_sign_in": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the user can use this OAuth provider to sign in. Only one OAuth provider per type can have this set to `true`."
                          },
                          "allow_connected_accounts": {
                            "type": "boolean",
                            "example": true,
                            "description": "Whether the user can use this OAuth provider as connected account. Multiple OAuth providers per type can have this set to `true`."
                          }
                        },
                        "required": [
                          "account_id",
                          "user_id",
                          "id",
                          "provider_config_id",
                          "type",
                          "allow_sign_in",
                          "allow_connected_accounts"
                        ]
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "next_cursor": {
                          "type": "string",
                          "example": "b3d396b8-c574-4c80-97b3-50031675ceb2",
                          "description": "The cursor to fetch the next page of results. null if there is no next page."
                        }
                      },
                      "required": []
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an OAuth provider",
        "description": "Add a new OAuth provider for a user.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
                    "description": "The ID of the user, or the special value `me` for the currently authenticated user"
                  },
                  "provider_config_id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "example": "test@gmail.com",
                    "description": "Email of the OAuth provider. This is used to display and identify the OAuth provider in the UI."
                  },
                  "allow_sign_in": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the user can use this OAuth provider to sign in. Only one OAuth provider per type can have this set to `true`."
                  },
                  "allow_connected_accounts": {
                    "type": "boolean",
                    "example": true,
                    "description": "Whether the user can use this OAuth provider as connected account. Multiple OAuth providers per type can have this set to `true`."
                  },
                  "account_id": {
                    "type": "string",
                    "example": "google-account-id-12345",
                    "description": "Account ID of the OAuth provider. This uniquely identifies the account on the provider side."
                  }
                },
                "required": [
                  "user_id",
                  "provider_config_id",
                  "allow_sign_in",
                  "allow_connected_accounts",
                  "account_id"
                ],
                "example": {
                  "user_id": "3241a285-8329-4d69-8f3d-316e08cf140c",
                  "email": "test@gmail.com",
                  "allow_sign_in": true,
                  "allow_connected_accounts": true,
                  "account_id": "google-account-id-12345"
                }
              }
            }
          }
        },
        "tags": [
          "Oauth"
        ],
        "x-full-url": "https://api.stack-auth.com/api/v1/oauth-providers",
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string",
                      "example": "google-account-id-12345",
                      "description": "Account ID of the OAuth provider. This uniquely identifies the account on the provider side."
                    },
                    "user_id": {
                      "type": "string",
                      "example": "3241a285-8329-4d69-8f3d-316e08cf140c",
[...]
