name: Hello World
on: [push]
jobs:
  Hello-World-Job:
    runs-on:
      - codebuild-stack-auth-verify-data-integrity-${{ github.run_id }}-${{ github.run_attempt }}
    steps:
      - run: echo "Hello World"
